/* ルート要素のフォントサイズ */
html {
    font-size: 20px;
  }
  
  /* bodyのフォント指定と中央揃え */
  body {
    font-family: "Arial", "Meiryo", sans-serif;
    font-size: 20px;
    text-align: center;
  }
  
  /* 見出しカラー用クラス */
  .blue {
    color: skyblue;
  }
  
  .pink {
    color: rgb(255, 192, 203);
  }
  
  /* h1の装飾 */
  h1 {
    font-family: "Josefin Sans", sans-serif;
    font-size: 2em; /* htmlの2倍 */
    letter-spacing: 1.2em; /* 文字の1.2倍の間隔 */
    text-shadow: 1px 1px 2px gray;
    border-bottom: solid 3px rgb(115, 115, 114);
    font-optical-sizing: auto;
    font-style: normal;
  }
  
  /* basicエリアのp要素のみ太字に */
  #basic p,
  #basic2 p,
  #basic3 p {
    font-weight: bold;
  }
  